<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  Collapsible content
  <logo>
      <a class="navbar-brand" href="#">Navbar</a>
    </logo>
    <div class="middle">
      centered
    </div>
  <links>
      <ul class="navbar-nav mr-right">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect
          routerLink="aboutMe">
          About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect
          routerLink="portfolio">
          Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect
          routerLink="blog">
          Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect
          routerLink="skills">
          Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect
          routerLink="resume">
          Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect
          routerLink="contactMe">
          Contact Me</a>
        </li>
      </ul>
  </links>

</mdb-navbar>
