//https://www.w3schools.com/howto/howto_js_navbar_sticky.asp

//https://mdbootstrap.com/support/navbar-middle-section/
.middle {
    display: inline-block;
margin-left: 50%;
transform: translateX(-50%);
}